package {{ .PackageName }}

import (
	"time"
)

type {{ .ModelName }} struct {
	{{ range $field := .ExtraFields }}
	{{- $field.Title }} {{ $field.FieldType }} `json:"{{ $field.DBTitle }}"`
	{{ end -}}
}

func New({{ .Fields | RenderFuncParams }}) *{{ .ModelName }} {
	return &{{ .ModelName }}{
		{{ range $field := .Fields }}
		{{- $field.Title }}: {{ $field.ParamTitle }},
		{{ end -}}
	}
}
